# Initiate vertex ai model builder

In [1]:
import os
import argparse
import pandas as pd
# import mlflow
# import mlflow.sklearn
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

import os 
print(os.listdir())

['process_master_vertex_ai.ipynb', 'src', '.ipynb_checkpoints', 'readme.md']

## 1. Load the data

In [2]:
credit_df = pd.read_csv("https://azuremlexamples.blob.core.windows.net/datasets/credit_card/default_of_credit_card_clients.csv",
                        header=1,
                        index_col=0)

train_df, test_df = train_test_split(credit_df,
                                     test_size=0.25,)

In [3]:
credit_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## 2. Prepare for training

In [4]:
# Extracting the label column
y_train = train_df.pop("default payment next month")

# convert the dataframe values to array
X_train = train_df.values

# Extracting the label column
y_test = test_df.pop("default payment next month")

# convert the dataframe values to array
X_test = test_df.values

In [5]:
# import mlflow
# import mlflow.sklearn

ModuleNotFoundError: No module named 'mlflow'

In [6]:
print(f"Training with data of shape {X_train.shape}")

# mlflow.start_run()
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))
# Stop logging for this model
# mlflow.end_run()

Training with data of shape (22500, 23)
              precision    recall  f1-score   support

           0       0.84      0.95      0.89      5842
           1       0.69      0.38      0.49      1658

    accuracy                           0.83      7500
   macro avg       0.77      0.67      0.69      7500
weighted avg       0.81      0.83      0.81      7500